
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOsalejaLabel" data-translate="talvekoolApp.osaleja.home.createOrEditLabel">Create or edit a Osaleja</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.osaleja.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.osaleja.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="talvekoolApp.osaleja.nimi" for="field_nimi">Nimi</label>
            <input type="text" class="form-control" name="nimi" id="field_nimi"
                    ng-model="vm.osaleja.nimi"
                    required ng-minlength="3" />
            <div ng-show="editForm.nimi.$invalid">
                <p class="help-block"
                    ng-show="editForm.nimi.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nimi.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="talvekoolApp.osaleja.sugu" for="field_sugu">Sugu</label>
            <select class="form-control" name="sugu" ng-model="vm.osaleja.sugu" id="field_sugu" required>
                <option value="mees" data-translate="talvekoolApp.Sugu.mees">mees</option>
                <option value="naine" data-translate="talvekoolApp.Sugu.naine">naine</option>
            </select>
            <div ng-show="editForm.sugu.$invalid">
                <p class="help-block"
                    ng-show="editForm.sugu.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="talvekoolApp.osaleja.oskustase" for="field_oskustase">Oskustase</label>
            <select class="form-control" name="oskustase" ng-model="vm.osaleja.oskustase" id="field_oskustase" required>
                <option value="algaja" data-translate="talvekoolApp.Oskustase.algaja">algaja</option>
                <option value="keskmine" data-translate="talvekoolApp.Oskustase.keskmine">keskmine</option>
                <option value="edasijoudnu" data-translate="talvekoolApp.Oskustase.edasijoudnu">edasijoudnu</option>
            </select>
            <div ng-show="editForm.oskustase.$invalid">
                <p class="help-block"
                    ng-show="editForm.oskustase.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
